spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

jwt:
  secret: verySecretJwtKeyReplaceThis
  expirationMs: 86400000
