spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 30000
      max-lifetime: 1800000
      data-source-properties:
        prepareThreshold: 0
        useServerPrepStmts: false
        cachePrepStmts: false
        prepStmtCacheSize: 0
        prepStmtCacheSqlLimit: 0

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        query:
          plan_cache_max_size: 4
          plan_parameter_metadata_max_size: 4
        jdbc:
          batch_size: 15
        order_inserts: true
        order_updates: true

server:
  port: ${PORT:8080}
